<div class="container-fluid">
    <div class="card">
      <div class="card-header text-uppercase">
        Agregar caso:
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="# de sección" name="customerid" [(ngModel)]="customerid" >
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nombre del Cliente" name="customername" [(ngModel)]="customername" >
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="# de compra" name="order" [(ngModel)]="noOrder" >
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Descripción del Caso" name="case" [(ngModel)]="casedescription" >
            </div>
            <button (click)="addCase()" class="btn btn-success">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>

    </div>
</div>